{% extends 'base.html.twig' %}
{% block title %}{{parent()}}Contact{% endblock %}
{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> Mention legale</h1>
<p>

Responsable de la publication : MARAFA-SALEY Ousseyne<br>
Adresse : ARRAS<br>
Téléphone : 06 06 06 06 06<br>
Email : ousseyne68@gmail.com<br>

Hébergeur du site : Mr Legales<br>

Propriété intellectuelle :<br>
Le contenu de ce site web est protégé par les lois sur la propriété intellectuelle et est la propriété exclusive de MARAFA-SALEY Ousseyne sauf mention contraire. Toute reproduction ou utilisation sans autorisation préalable est strictement interdite. <br>

Données personnelles : <br>
Les informations collectées sur ce site sont destinées à MARAFA-SALEY Ousseyne et ne seront pas divulguées à des tiers. Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant. Vous pouvez exercer ce droit en nous contactant à l'adresse ousseyne68@gmail.com . <br>


Liens externes : <br>
Ce site peut contenir des liens vers des sites externes. MARAFA-SALEY Ousseyne décline toute responsabilité quant au contenu de ces sites externes. <br>

Droits d'auteur des images : <br>
Les images utilisées sur ce site sont soit la propriété de MARAFA-SALEY Ousseyne, soit utilisées avec l'autorisation de leurs propriétaires respectifs. Toute reproduction ou utilisation des images sans autorisation préalable est interdite. <br>

Crédits : <br>
Conception et développement du site : MARAFA-SALEY Ousseyne <br>
</p>
{% endblock %}