{% extends 'base.html.twig' %}
{% block title %}{{parent()}}A propos{% endblock %}
{% block body %}
<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold"> A propos</h1>
<p class="texst-center text primary">Bienvenue sur mon premier site web ! <br>
Je suis un etudiant de BTS SIO specialié SLAM.<br>
Sur ce site, vous trouverez touts mes futurs projets et les compétences acquis au fil du temps. <br> 
N'hésitez pas à me contacter si vous avez des questions ou des suggestions. Merci de votre visite !</p>
{% endblock %}