{% extends 'base.html.twig' %}

{% block body %}
    <h1>Login Logs</h1>

    {% if logs is empty %}
        <p>No logs available.</p>
    {% else %}
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Logged At</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.name }}</td>
                        <td>{{ log.loggedAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
