{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Liste des fichiers
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
            Accueil
        </h1>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 bg-type p-4 m-0 text-primary">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="fw-bold text-primary">
                                <th scope="col" class="text-primary">Nom Utilisateur</th>
                                <th scope="col" class="text-primary">Nombre de fichiers</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fichiers in fichier %}
                                <tr class="table-primary">
                                    <td class="text-primary">{{ fichiers.user.nom }}</td>
                                    <td>{{ fichiers.user.getFichiers()|length }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
